{% extends "blog/base.html"%}
{% load static %}

{% block title %}Arouskhanoum{% endblock %}

{% block nav %}
    {% include "blog/navigation.html" with active='home'  %}
{% endblock %}

{% block content %}
    <h1>Arouskhanoum</h1>
    {% if article_list %}
        {% for article in article_list %}
            <h2>{{ article.title }}</h2>
            <h3>{{ article.category.title }}</h3>
            <img src="{{  article.cover.url }}" alt="{{ article.title }}" />
        {% endfor %}
    {% endif %}
{% endblock %}